<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button class="close" data-dismiss="modal" aria-hidden="true">
        <small><span class="glyphicon glyphicon-remove"></span></small>
      </button>
      <h3 class="modal-title"><%= t("publishers.new_publisher") %></h3>
    </div>
    <div class="modal-body">
      <%= form_for [:admin, @publisher], remote: true do |f| %>
        <div class="col-md-4 picture">
          <% if @publisher.errors[:avatar].any? %>
            <p><span><%= @publisher.errors[:avatar].first %></span></p>
          <% end %>
          <div class="img-avatar bg">
            <%= image_tag @publisher.image, alt: t("publishers.image_alt"), id: "thumb" %>
          </div>
          <div class="form-group">
            <div>
              <%= text_field_tag "", nil, class: "form-control", readonly: true,
                placeholder: t("publishers.choose_publisher_image") %>
              <%= f.file_field :image, accept: Settings.type_image_accept,
                class: "choose-book-img", onchange: "showMyImage(this)" %>
            </div>
          </div>
        </div>
        <div class="col-md-8 info">
          <% if @publisher.errors[:name].any? %>
            <p><%= @publisher.errors[:name].first %></p>
          <% end %>
          <div class="form-group has-float-label">
            <%= f.text_field :name, class: "form-control", id: "name",
              placeholder: t("required") %>
            <%= f.label :name, t("name"), for: "name" %>
          </div>
          <% if @publisher.errors[:email].any? %>
            <p><span><%= @publisher.errors[:email].first %></span></p>
          <% end %>
          <div class="form-group has-float-label">
            <%= f.text_field :email, class: "form-control", id: "email",
              placeholder: t("required") %>
            <%= f.label :email, t("email"), for: "email" %>
          </div>
          <% if @publisher.errors[:phone].any? %>
            <p><span><%= @publisher.errors[:phone].first %></span></p>
          <% end %>
          <div class="form-group has-float-label">
            <%= f.phone_field :phone, class: "form-control", id: "phone",
              placeholder: t("required") %>
            <%= f.label :phone, t("phone"), for: "phone" %>
          </div>
          <% if @publisher.errors[:address].any? %>
            <p><span><%= @publisher.errors[:address].first %></span></p>
          <% end %>
          <div class="form-group has-float-label">
            <%= f.text_field :address, class: "form-control", id: "address",
              placeholder: t("required") %>
            <%= f.label :address, t("address"), for: "address" %>
          </div>
        </div>
        <%= f.submit t("update"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
