<div class="sidebar">
  <div class="logo">
    <%= link_to image_tag(Settings.title_logo, alt: t("logo")), admin_root_path %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <%= link_to admin_books_path do %>
          <i class="glyphicon glyphicon-book"></i>
          <p><%= t "book" %></p>
        <% end %>
      </li>
      <li>
        <%= link_to admin_authors_path do %>
          <i class="glyphicon glyphicon-print"></i>
          <p><%= t "author" %></p>
        <% end %>
      </li>
      <li>
        <%= link_to admin_publishers_path do %>
          <i class="glyphicon glyphicon-globe"></i>
          <p><%= t "publisher" %></p>
        <% end %>
      </li>
      <li>
        <%= link_to admin_categories_path do %>
          <i class="glyphicon glyphicon-th"></i>
          <p><%= t "category" %></p>
        <% end %>
      </li>
      <li>
        <%= link_to admin_users_path do %>
          <i class="glyphicon glyphicon-user"></i>
          <p><%= t "user" %></p>
        <% end %>
      </li>
      <li>
        <%= link_to admin_requests_path do %>
          <i class="glyphicon glyphicon-send"></i>
          <p><%= t "request" %></p>
        <% end %>
      </li>
    </ul>
  </div>
</div>
