<div class="sidebar">
  <div class="logo">
    <%= link_to image_tag(Settings.title_logo, alt: t("logo")), admin_root_path %>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="active">
        <a href="#">
          <i class="glyphicon glyphicon-book"></i>
          <p><%= t "book" %></p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-print"></i>
          <p><%= t "author" %></p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-globe"></i>
          <p><%= t "publisher" %></p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-th"></i>
          <p><%= t "category" %></p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-user"></i>
          <p><%= t "user" %></p>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="glyphicon glyphicon-send"></i>
          <p><%= t "request" %></p>
        </a>
      </li>
    </ul>
  </div>
</div>
