<header class="fixed-menu">
  <div class="header">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "", root_path, class: "navbar-brand" %>
    </div>
    <button class="btn-search"></button>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-left col-md-4">
        <li class="active"><%= link_to t("home"), root_path %></li>
        <li><%= link_to t("book"), "#" %></li>
        <li><%= link_to t("author"), "#" %></li>
        <li><%= link_to t("publisher"), "#" %></li>
      </ul>
      <% if logged_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <ul>
                <li><%= image_tag(Settings.logo, alt: t("logo")) %></li>
                <li><%= @current_user.name %> <b class="caret"></b></li>
              </ul>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t("profile"), current_user %></li>
              <li><%= link_to t("settings"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(logout), logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right col-xs-2">
          <li><%= link_to t("signup"), signup_path, remote: true %></li>
          <li><%= link_to t("login"), login_path, remote: true %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
